.dark .Toastify__toast {
    background-color: #2E2E2E;
    color: #FFD700;
}

.dark .Toastify__progress-bar--success {
    background-color: #9ACD32;
}

.dark .Toastify__progress-bar--error {
    background-color: #FF6600;
}

.dark .Toastify__close-button {
    color: white;
    opacity: 1;
}